
<div>
  <div class="form-group" style="margin-left: 5px;">
    <div>
    <button class="btn btn-outline-primary" [class.btn-primary]="editable" (click)="editable = !editable">
      <clr-icon shape="pencil" *ngIf="!editable"></clr-icon>
      {{editable&&'Done'||'Edit'}}
    </button>
    <div class="toggle-switch" [hidden]="!editable">
    </div>
  </div>
    <div class="toggle-switch">
      <input type="checkbox" id="grid" [(ngModel)]="showGrid">
      <label for="grid">Grid</label>
    </div>
  </div>
  <div class="page">
    <ngx-widget-grid [rows]="rows"
                     [columns]="cols"
                     [highlightNextPosition]="highlightNextPosition"
                     #grid
                     [showGrid]="showGrid"
                     (gridFull)="onGridFull($event)"
                     (widgetPositionChange)="onWidgetChange($event)"
                     style="width: 98%; height: 79%;">
      <ngx-widget *ngFor="let widget of widgets;let $index = index;"
                  [position]="widget"
                  [movable]="editable"
                  [resizable]="editable"
                  [swapOnMove]="swapWidgets">
        <div style="height:100%;width:100%; display:flex;">
          <div class="my-widgets"
               style="height:100%;width:100%; padding:10px;"
               [ngStyle]="{'background-color':widget.color}">
            <clr-icon shape="trash"
                      class="clickable"
                      (click)="askDeleteWidget($index)"
                      *ngIf="editable"></clr-icon>
            <div>
              {{widget.text}}
            </div>
          </div>
        </div>
      </ngx-widget>
    </ngx-widget-grid>
  </div>
</div>
